.card-title{
  cursor: pointer;
}

.card-title:hover{
  color: white; 
  text-decoration-line: underline ;
  
}

.card{
  background-color: white;
  color: black;
  border:1px  chartreuse;
  border-style: groove;
  
}

.quotes{
  margin-top: 100px;
  color: white;
  display: inline-flexbox;
}

.container{
  width: 100%;
  float: top left;
}


.card-columns{
  column-count: 2;
}
  
 