.card-title{
  cursor: pointer;
}

.card-title:hover{
  color: black; 
  text-decoration-line: underline ;
  
}

.card{
  background-color: white;
  color: black;
  border:1px  chartreuse;
  border-style: groove;
  
}


.quotes{
  
 
  color: white;
  /* display:inline-flex; */
  border-radius: 4px;
  padding-bottom: 5%;
}

.container{
  
  width: 100%;
  float: top left;
  justify-content: space-around;

}

.card-columns{
  column-count: 1;
  width: 450px;
      padding: 20px;
      border: 1px solid #c9c9c9;
    
}

 